.techDetailsContainer {
  height: 100vh;
}
.techDetailsContentContainer {
  width: 70%;
  margin: auto;
  display: flex;
  gap: 10px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0.5px 0.5px 12px 0.5px #64748b;
  margin-top: 100px;
}
.techDetailsContentContainer > .image {
  width: 25%;
  margin-top: 0px;
}
.content {
  padding: 10px 20px;
}
.name {
  color: #1e293b;
  font-size: 35px;
}
.description {
  color: #475569;
  font-size: 20px;
}
.loaderContainer {
  width: 80%;
  margin: auto;
  text-align: center;
}
.failureViewContainer {
  width: 80%;
  margin: auto;
  text-align: center;
}
.failureImage {
  width: 40%;
}
.retryButton {
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  outline: none;
  background-color: #4656a1;
  border-style: none;
  width: 130px;
}
