.link {
  text-decoration: none;
  color: black;
}

.techEraContainer {
  height: 100vh;
}
.techEraContentContainer {
  width: 80%;
  margin: auto;
  padding: 0px 20px;
  text-align: center;
  margin-top: 30px;
}
h1 {
  font-size: 20px;
  text-align: start;
  font-size: 40px;
  margin-top: 0px;
}
ul {
  padding-left: 0px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}
li {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 5px;
  width: 200px;
  height: 150px;
}
img {
  width: 80px;
}
