nav {
  padding: 20px 30px;
  background-color: #f1f5f9;
}
.nav-logo {
  width: 120px;
}
.link {
  background-color: transparent;
  border-style: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
}
